.OneMoviesCard {
  height: 430px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.OneMoviesCard:hover{
  //background-color: #828282;
}


.PosterImage {
  height: 350px;
  width: 250px;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.2s;
}

.PosterImage:hover {
  height: 350px;
  width: 250px;
  object-fit: cover;
  transition: 0.2s;
  filter: none;
  border: 1px solid #ffd700;
  box-sizing: border-box;
  //box-shadow: 1px 1px 8px 1px #ffffff;
  //box-shadow: 1px 1px 10px #ffffff;
}

.MovieTitle {
  width: 246px;
  font-size: 18px;
  display: -webkit-box;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
}

.OneMoviesCard:hover {

}

.StarsElement{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Stars{
}

