.MovieListHead {
  margin: 15px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MoviesCard {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.ButtonPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonPlus{
  width: 200px;
  height: 50px;
  margin-left: 30px;
  background-color: #ffd700;
  border: 1px solid rgba(0, 250, 44);;
  cursor: pointer;
  font-size: 20px;
  color: var(--acctnt-dark);
}

.ButtonMinus{
  width: 200px;
  height: 50px;
  background-color: #ffd700;
  border: 1px solid rgba(0, 250, 44);;
  margin-right: 30px;
  cursor: pointer;
  font-size: 20px;
  color: var(--acctnt-dark);
}

.ButtonPlus:hover{
  //background-color: #ffd700;
  background-color: rgba(0, 250, 44);
  border: 1px solid snow;
  color: var(--accent-light);
}

.ButtonMinus:hover{
  background-color: rgba(0, 250, 44);
  border: 1px solid snow;
  color: var(--accent-light);
}