.MovieListHead {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MoviesCard {
  width: 1440px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.ButtonPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ButtonPlus{
  width: 200px;
  height: 50px;
  margin-left: 30px;
  background-color: transparent;
  border: 1px solid snow;
  cursor: pointer;
  color: snow;
  font-size: 20px;
}

.ButtonMinus{
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid snow;
  margin-right: 30px;
  cursor: pointer;
  color: snow;
  font-size: 20px;
}

.ButtonPlus:hover{
  //background-color: #ffd700;
  background-color:rgba(255, 215, 0, 0.3);
  border: 1px solid snow;
}

.ButtonMinus:hover{
  background-color:rgba(255, 215, 0, 0.3);
  border: 1px solid snow;
}