.button {
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: snow;
}

.button:hover {
  color: #ffd700;
}

.headerBar {
  width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.themeSwitcher {
  position: absolute;
  width: 150px;
  height: 10px;
  top: 3.6vh;
  left: 2vh;
}

.switch{
}