.HeaderMain {
}


.headerBar {
  position: relative;
  width: 100%;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://klike.net/uploads/posts/2022-10/1666928437_3-3.jpg");
  background-repeat: no-repeat, repeat;
  background-position: top;
  background-size: cover;
  background-color: #00ff2c;
  background-blend-mode: darken;
  //border-bottom: 2px solid #ffd700;
}


.button {
  //display: block;
  text-decoration: none;
  font-size: 30px;
  color: snow;
  margin: 0 1% 0 1%;
}

.button1 {
  padding: 0;
  width: 5.5vw;
  height: 4vh;
  color: snow;
  //font-size: 20px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 1vh 0 0 1vw;
  background: var(--accent-dark);
  border: none;
  transition: 0.1s;
}

.button1:hover {
  //font-size: 22px;
  font-size: 1.2em;
  width: 6vw;
  height: 4.5vh;
  color: #ffd700;
  border: 1px solid #ffd700;
  transition: 0.1s;
}

.button:hover {
  color: #ffd700;
}

.themeSwitcher {
  position: absolute;
  width: 160px;
  height: 10px;
  top: 50%;
  right: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
}

.titleClass {
  position: absolute;
  left: 2vw;
  cursor: pointer;
}

.titleH1 {
  color: snow;
}

.titleTheme {
  color: #ffd700;
  font-size: 16px;
}

.logoUser {
  position: absolute;
  right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageUser {
  display: block;
  width: 3.5vw;
}

.userTitle {
  display: block;
  margin: 0.5vh 0 0 0;
  padding: 0;
  color: var(--accent-light);
}